<p>access token: {{ token }}</p>
<p>business uid: {{business_uid}}</p>

<a href="/user_info?token={{ token }}">Click here to get user info</a><br>
<a href="/clients?token={{ token }}">Click here to test API by getting all Clients for this account</a>
